@model ProductFormViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Création d'un produit</h1>

<form asp-action="Create">
    <div class="form-group">
        <partial name="_ProductForm" model="Model" />
        <input type="submit" value="Create" class="btn btn-primary"/>
    </div>
</form>