@model ProductFormViewModel

@{
    ViewData["Title"] = "Modification";
}

<h1>Modification de produit</h1>

<form asp-action="Edit">
    <div class="form-group">
        <partial name="_ProductForm" model="Model" />
        <input type="submit" value="Sauver" class="btn btn-primary"/>
    </div>
</form>